h1{
    text-align: left;
    color: #292929;
    font-size: 20px;
}
.navbar {
    color:aliceblue;
    overflow: hidden;
}
.navbar a:hover{
    background-color: #ddd;
    color: black;
}
p{
    color:#292929;
    font-size: 17px;
}
html {
    font-family: Poppins, sans-serif;
}
#hero {
    width: 100%;
    height: 100vh;
    background: url('hero.png') no-repeat center / cover;
   display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  
}
#hero h1 { 
    font-size: 30px;
}
#blockquote, p {
    font-family: Roboto, sans-serif;
}
